{% extends 'base.html' %}

{% block content %}
    <h2>Contato</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }} 
            {{ field }}
            <div class="form-text text-danger">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
    </form>
    <div class="mt-4">
        <h3>Informações de Contato? </h3> 
        <p>Email: senta_e_chora@perdeu.com</p>
        <p>Telefone: (11) 1234-5678</p>   
{% endblock %}